# Dependências principais
numpy==1.21.2
pandas==1.3.3
scikit-learn==0.24.2

# Dependências para visualização de dados
matplotlib==3.4.3
seaborn==0.11.2

# Dependências para desenvolvimento
jupyter==1.0.0
ipython==7.27.0

# Dependências para testes
pytest==6.2.5
pytest-cov==2.12.1